body {
    background: url(https://images.homedepot-static.com/productImages/e9d520db-3230-42ec-8cdb-ed9e75cfe219/svn/ebony-recon-wilsonart-laminate-sheets-7997383504896-64_1000.jpg);
}

h2 {
    margin-top: 30px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    border-radius: 5px;
}

ul li {
    margin: 15px;
    line-height: 25px;
}

#main {
    background-color: #fbfaf7;
    margin: 20px 15px 20px 15px;;
    padding: 10px;
    border-radius: 5px;
}

#title, #img-div {
    text-align: center;
}

#tribute-info h2, #tribute-info h3 {
    text-align: center;
}
